<header ng-if="!isInnerJob">
  <nav>
    <a class="link-nav" href="">quem somos</a>
    <a class="link-nav" href="">contato</a>
  </nav>
  <div class="inner-header">
    <div class="wrapper-logo">
      <h1>
        <a class="logo-link" href="">
          <img src="img/logo_guia.svg" alt="Achei Litoral Leste">
        </a>
      </h1>
    </div>
    <div class="header-tagline">
      <p class="tagline-color">Lorem ipsum dolor sit amet.</p>
      <p class="tagline-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, dolorem.</p>
    </div>
  </div>
</header>


<header ng-if="isInnerJob">
  <h2>teste</h2>
</header>
